    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TLJ4WQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TLJ4WQ');</script>
<!-- End Google Tag Manager -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Today's Menu <small><%= Date.today %></small></h1>
    </div>
  </div>
  <% @meals.each do |meal| %>
    <div class='panel panel-default'>
      <div class="panel-heading">
        <h3><%= meal.name %></h3>
      </div>
      <div class="panel-body">
        <% meal.items.sort { |a,b| b.votes <=> a.votes }.each do |item| %>
          <div class="row item">
            <div class="col-md-2 col-xs-4">
              <% vote_state = @cookie[item.id] %>
              <div class="btn-group-vertical" role="group" aria-label="...">
                <% if vote_state == "upvote" %>
                  <button type="button" class="btn btn-primary" disabled="disabled">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default" disabled="disabled">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                  </button>
                <% elsif vote_state == "downvote" %>
                  <button type="button" class="btn btn-default" disabled="disabled">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-primary" disabled="disabled">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                  </button>
                <% else %>
                  <button type="button" class="btn btn-default vote vote-upvote" id='<%= "#{item.id}" %>' value="upvote">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default vote vote-downvote" id='<%= "#{item.id}" %>' value="downvote">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                  </button>
                <% end %>
              </div>
            </div>
            <div class="col-md-3 col-xs-3">
              <h5><%= item.station %></h5>
              <span class="label label-primary">
                score: 
                <span class="score" id='<%= "#{item.id}" %>'>
                  <%= item.votes %>
                </span>
              </span>
            </div>
            <div class="col-md-7 col-xs-5">
              <%= item.description %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>