<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Today's Menu <small><%= Date.today %></small></h1>
    </div>
  </div>
  <% @meals.each do |meal| %>
    <div class='panel panel-default'>
      <div class="panel-heading">
        <h3><%= meal.name %></h3>
      </div>
      <div class="panel-body">
        <% meal.items.sort { |a,b| b.votes <=> a.votes }.each do |item| %>
          <div class="row item">
            <div class="col-md-3 col-xs-3">
              <%= item.station %>
            </div>
            <div class="col-md-7 col-xs-5">
              <%= item.description %>
              <span class="label label-primary">
                score: 
                <span class="score" id='<%= "#{item.id}" %>'>
                  <%= item.votes %>
                </span>
              </span>
            </div>
            <div class="col-md-2 col-xs-4">
              <div class="row">
                <div class="col-sm-6 col-sm-push-6">
                  <button type="button" class="vote" id='<%= "#{item.id}" %>' value="1">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                  </button>
                </div>
                <div class="col-sm-6 col-sm-pull-6">
                  <button type="button" class="vote" id='<%= "#{item.id}" %>' value="-1">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
